.footer__bg {
  background-color: $background-accent;
}
.footer {
  flex-grow: 1;
  padding-top: 40px;
  margin-bottom: 90px;

  @media screen and(min-width:768px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__titles {
  @media screen and (max-width: 767px) {
    margin-bottom: 43px;
  }
  @media screen and (max-width: 1279px) {
    width: 265px;
  }
}
.footer__links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__label {
  margin-bottom: 17px;
  font-family: $secondary-font;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: $light-accent-color;
  @media screen and(min-width:768px) {
    margin-bottom: 16px;
  }
}
.footer__title {
  font-family: $secondary-font;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $dark-accent-color;
}
.footer__list {
  margin-bottom: 46px;
  display: flex;
  @media screen and(min-width:1280px) {
    margin-bottom: 22px;
  }
}
.footer__item:not(:last-child) {
  margin-right: 28px;
}
.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $soc-icon-color;
  transition: background-color 250ms linear;
  &:hover,
  &:focus {
    background-color: $dark-accent-color;
  }
}
.footer__icon {
  fill: $accent-text-color;
}
.footer__phone {
  font-family: $main-font;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.83;
  text-decoration: none;
  color: $dark-text-color;
  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    color: $soc-icon-hover;
  }
}

.footer__number {
  color: $soc-icon-hover;

  transition: background-color 250ms linear;
}
.footer__phone:hover .footer__number {
  color: $dark-text-color;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $border-color;
  background-color: $background-accent;
}
.copyright__text {
  padding-top: 22px;
  padding-bottom: 25px;
  text-align: center;
  font-family: $main-font;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  color: $light-text-color;

  @media screen and(max-width:767px) {
    width: 200px;
  }
  @media screen and(min-width:768px) {
    padding-top: 29px;
    padding-bottom: 18px;
  }
  @media screen and(min-width:1280px) {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}
.copyright__subject {
  display: inline-block;
}
