//Цвета макета
$dark-accent-color: #d41443;
$light-accent-color: #ffa5ba;
$background-main: #ffffff;
$background-accent: #fff5f6;
$accent-text-color: #ffffff; // background-main
$dark-text-color: #000000;
$light-text-color: #907e82;
$dark-button: #d41443; // dark-accent
$light-button: #ffffff; // background-main
$dark-button-hover: #d41342;
$light-button-hover: #ecebeb;
$section-color-1: #ffb8ca;
$section-color-2: #f0d1a5;
$section-color-3: #c2e297;
$mobile-menu-background: #e17992;
$mobile-item-background: #e18298;
$comment-text-background: #fafafa;
$comment-more-point: #c7133e;
$slider-icon-color: #d31342;
$slider-point: #d9d9d9;
$border-color: #e1e1e1;
$soc-icon-color: #fea5bb;
$soc-icon-hover: #d41443; // dark-accent

//Шрифты макета
$main-font: 'DM Sans', sans-serif; // Основной текст и параграфы
$secondary-font: 'Titan One', cursive; //Заголовки и прочее
$default-font: sans-serif;
