<section>
    <div class="container">
        <h2  id="customer-reviews" class="visualy-hidden">Customer reviewers</h2>
        <div class="reviews ">
        <div class="reviews__item slider-item">
          <picture class="reviews__reviewer-photo">
            <source srcset=" ./images/customer-reviews/customer-1.png 1x, ./images/customer-reviews/customer-1@2x.png 2x" type="image/png">
            <img
            src="./images/customer-reviews/customer-1.png "
            alt="photo of curly hair girl"
            width="85"
            height="85"
            class="reviews__customer-img"/></picture>
         
      </div> 
       
   
        <div class="reviews__item  slider-item">
            <picture class="reviews__reviewer-photo">
              <source srcset=" ./images/customer-reviews/customer-2.png 1x, ./images/customer-reviews/customer-2@2x.png 2x" type="image/png">
              <img
                src="./images/customer-reviews/customer-2.png "
                alt="photo of happy girl in yellow dress"
                width="85"
                height="85"
                class="customer__img"/></picture>
              
            </div> 
             <div class="reviews__item  slider-item"> 
              <picture class="reviews__reviewer-photo">
                <source srcset=" ./images/customer-reviews/customer-3.png 1x, ./images/customer-reviews/customer-3@2x.png 2x" type="image/png">
                <img
                src="./images/customer-reviews/customer-3.png "
                alt="photo of happy girl in glasses"
                width="85"
                height="85"
                class="customer__img"/></picture>
               </div>
            </div>
           
    
        
    </div>
  </section>