<footer class="footer__bg">
<div class="footer container">
    <div class="footer__titles">
        <p class="footer__label">
            homemade ice cream made
        </p>
        <h2 class="footer__title">
            with passion
        </h2>
    </div>
    <div class="footer__links">
        <ul class="footer__list">
            <li class="footer__item">
                <a class="footer__link" href="https://github.com" target="_blank">
                    <svg class="footer__icon" width="18.82" height="18.82">
                        <use href="./images/footer/icons.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="footer__item">
                <a class="footer__link"  href="https://web.telegram.org" target="_blank">
                    <svg class="footer__icon" width="19.2" height="14.93">
                        <use href="./images/footer/icons.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="https://www.facebook.com" target="_blank">
                    <svg class="footer__icon" width="8.8" height="19.2">
                        <use href="./images/footer/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>


        </ul>

        <a class="footer__phone" href="tel:+61 (0) 383 766 284">Feel free to contact <span class="footer__number">+61 (0) 383 766 284</span></a>
    </div>
   
    </div>
    <div class="copyright">
        <p class="copyright__text">
           <span class="copyright__subject"> &copy; 2019 - IceCream.</span><span class="copyright__subject">All Rights Reserved.</span>
        </p>
</div>
</footer>
