
    
        <header class="section-header ">
        
            <div class="header page-header container">
                <img class="logo" src="./images/hero-header/logo.png" srcset="./images/hero-header/logo.png 1x, 
                                         ./images/hero-header/logo@2x.png 2x,
                                         ./images/hero-header/logo@3x.png 3x,
                                         ./images/hero-header/logo-tablet.png 1x, 
                                         ./images/hero-header/logo-tablet@2x.png 2x,
                                         ./images/hero-header/logo-tablet@3x.png 3x,
                                         ./images/hero-header/logo-mobile.png 1x, 
                                         ./images/hero-header/logo-mobile@2x.png 2x,
                                         ./images/hero-header/logo-mobile@3x.png 3x" alt="Логотип">
                <ul class="menu nav__site">
                    <li class="header__item"><a href="index.html" class="link nav__link  current">Home</a></li>
                    <li class="header__item"><a href="#customer-reviews" class="link nav__link">About us</a></li>
                    <li class="header__item"><a href="#how-it’s-made" class="link nav__link  ">How it’s made?</a></li>
                    <li class="header__item"><a href="#gallery" class="link nav__link">Our products</a></li>
                    <li class="header__item"><a href="#contact" class="link nav__link  ">Contact</a></li>
                </ul>
                
                
                
                <div class="hero__container ">
                
                    <p class="text-number text-16">16</p>
                    <p class="box-description description-16">cafes</p>
                    <img class="number-16" src="./images/hero-header/Ellipse-white.png" srcset="./images/hero-header/Ellipse-white.png 1x, 
                                                                                     ./images/hero-header/Ellipse-white@2x.png 2x,
                                                                                     ./images/hero-header/Ellipse-white@3x.png 3x"
                        alt="номер 16">
                
                
                    <p class="text-number text-23">23</p>
                    <p class="box-description description-23">food trucks</p>
                    <img class="number-23" src="./images/hero-header/Ellipse-white.png" srcset="./images/hero-header/Ellipse-white.png 1x, 
                                                                                     ./images/hero-header/Ellipse-white@2x.png 2x,
                                                                                     ./images/hero-header/Ellipse-white@3x.png 3x"
                        alt="номер 23">
                
                    <img class="ellipse" src="./images/hero-header/Ellipse.png" srcset="./images/hero-header/Ellipse.png 1x, 
                                         ./images/hero-header/Ellipse@2x.png 2x,
                                         ./images/hero-header/Ellipse@3x.png 3x,
                                         ./images/hero-header/Ellipse-tablet.png 1x, 
                                         ./images/hero-header/Ellipse-tablet@2x.png 2x,
                                         ./images/hero-header/Ellipse-mobile@3x.png 3x,
                                         ./images/hero-header/Ellipse-mobile.png 1x, 
                                         ./images/hero-header/Ellipse-mobile@2x.png 2x,
                                         ./images/hero-header/Ellipse-mobile@3x.png 3x" alt="элипс">
                    <img class="ice" src="./images/hero-header/slider-ice_1.png" srcset="./images/hero-header/slider-ice_1.png 1x, 
                                         ./images/hero-header/slider-ice_1@2x.png 2x,
                                         ./images/hero-header/slider-ice_1@3x.png 3x,
                                         ./images/hero-header/ice-tablet.png 1x, 
                                         ./images/hero-header/ice-tablet@2x.png 2x,
                                         ./images/hero-header/ice-tablet@3x.png 3x,
                                         ./images/hero-header/ice-mobile.png 1x, 
                                         ./images/hero-header/ice-mobile@2x.png 2x,
                                         ./images/hero-header/ice-mobile@3x.png 3x" alt="мороженное">
                
                
                    <img class="girl" src="./images/hero-header/slider-girl4_1.png " srcset="./images/hero-header/slider-girl4_1.png 1x, 
                                         ./images/hero-header/slider-girl4_1@2x.png 2x,
                                         ./images/hero-header/slider-girl4_1@3x.png 3x,
                                         ./images/hero-header/girl-tablet.png 1x, 
                                         ./images/hero-header/girl-tablet@2x.png 2x,
                                         ./images/hero-header/girl-tablet@3x.png 3x" alt="девушка">
                    <img class="milk" src="./images/hero-header/slider-milk5_1.png" srcset="./images/hero-header/slider-milk5_1.png 1x, 
                                         ./images/hero-header/slider-milk5_1@2x.png 2x,
                                         ./images/hero-header/slider-milk5_1@3x.png 3x,
                                         ./images/hero-header/milk-tablet.png 1x, 
                                         ./images/hero-header/milk-tablet@2x.png 2x,
                                         ./images/hero-header/milk-tablet@3x.png 3x" alt="молоко">
                
                    <div class="hero__text">
                        <h1 class="text"><span class="text_1">ice cream</span> <br>
                            <span class="text_2">made with</span><br>
                            <span class="text_3">passion</span>
                        </h1>
                        <ul class="button-list">
                            <li>
                                <div class="button-container">
                                    <button class="hero__button dark-button">products</button>
                                    <a class="link-products" href="#products"></a>
                                </div>
                            </li>
                            <li>
                                <div class="button-container">
                                    <button class="hero__button light-button">How it’s made?</button>
                                    <a class="link-made" href="#how-it’s-made"></a>
                                </div>
                            </li>
                
                
                        </ul>
                
                    </div>
                
                    <div class="">
                        <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
                            <svg width="20" height="12" class="svg-open">
                                <use href="./images/hero-header/spryte.svg#icon-Burger-1"></use>
                            </svg>
                        </button>
                
                        <button class="header__button header__button--close hero-button" type="button" data-modal-open>Buy now
                            <svg class="vector-btn">
                                <use href="./images/hero-header/spryte.svg#icon-Vector-1-2"></use>
                            </svg>
                        </button>
                        <div class="backdrop is-hidden" data-modal>
                            <div class="modal">
                
                                <button class="modal-close" data-modal-close>
                
                                    <svg class="svg-close" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="24">
                                        <path fill-rule="evenodd"
                                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                
                            </div>
                        </div>
                
                
                
                    </div>
                    <div>
                        <p class="header__description">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit,<br> sed do
                            eiusmod tempor<br> incididunt ut labore et</p>
                        <button class="arrow-right" aria-expanded="false">
                            <svg width="18" height="18" class="icon-right">
                                <use href="./images/hero-header/spryte.svg#icon-arrow-right2"></use>
                            </svg>
                        </button>
                    </div>
                
                </div>
            </div>
        
        </header>
    


    <main>
    <div class="menu-container js-menu-container " id="mobile-menu">
        <button class="menu-toggle js-close-menu">
            <svg class="svg-close" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
        </button>

        <button class="header__button header__button--open  hero-button" type="button" data-modal-open>Buy now 
            <svg class="vector-btn">
                <use href="./images/hero-header/spryte.svg#icon-Vector-1-2"></use>
            </svg>
        </button>
    
        <ul class="mobile-menu">
            <li class="mobile-item"><a href="index.html" class="link">Home</a></li>
            <li class="mobile-item"><a href="#customer-reviews" class="link">About us</a></li>
            <li class="mobile-item"><a href="#how-it’s-made?" class="link">How it’s made?</a></li>
            <li class="mobile-item"><a href="#gallery" class="link">Our products</a></li>
            <li class="mobile-item"><a href="#contact" class="link">Contact</a></li>
        </ul>
    </div>

</main>



